body {
    font-family: 'Open Sans', sans-serif;
}

.bannere-container {
    background-color: #c0c4c9;
}

.banner-column {
    background-color: #4E5768;
}

.about-container {
    background-color: royalblue;
}