body {
    font-family: 'Open Sans', sans-serif;
}

.bannere-container {
    background-color: #c0c4c9;
}

.banner-column {
    background-color: #4E5768;
}

.about-container {
    background-color: royalblue;
}

.education-container {
    background-color: #d3e3fb;
}

.redtype-color {
    background-color: rgb(117, 84, 61);
}

.bg-color {
    color: chocolate
}

.circle {
    background-color: chocolate;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.project-container {
    background-color: royalblue;
}

.gallary-container {
    background-color: #d3e3fb;
}

.contact-container {
    background-color: rgb(48, 47, 47);
}

.inner-form {
    background-color: #615e6b;
}

.footer-container {
    background-color: royalblue;
}

.footer-circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color: royalblue;
}

.footer-circle:hover {
    background-color: rgb(48, 47, 47)
}